<!DOCTYPE html>
<html>
    <body>
        <h2>Course Enrollment Confirmation</h2>
        
        <p>Hello {{ user.first_name }},</p>
        
        <p>You have successfully enrolled in: <strong>{{ course.title }}</strong></p>
        
        <p><strong>Instructor:</strong> {{ course.instructor.first_name }}</p>
        
        <p>Start learning now: <a href="127.0.0.1:8000/api/v1/course/{{ course.id }}/detail/">
            127.0.0.1:8000/api/v1/course/{{ course.id }}/detail/
        </a></p>
        
        <p>
            Happy learning!<br>
            The {{ site_name }} Team
            <br>
            this is send by celery task
        </p>
        
        <hr>
        <p><small>© {{ current_year }} {{ site_name }}</small></p>
    </body>
</html>